img{
 margin-top:-60px;
}
#navbarSupportedContent{
	margin-left:400px;
	margin-top:-43px;
}
button{
  width:100%;
  margin-top:-10px;
}
h1{
  font-size:25px;
  color:green;
}
.house{
  width:70px;
  margin-top:30px;
}
h1{
  font-variant:small-caps;
  margin-top:52px;
}